<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>STUDENT_CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentInsertController</display-name>
    <servlet-name>StudentInsertController</servlet-name>
    <servlet-class>com.controller.StudentInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInsertController</servlet-name>
    <url-pattern>/studentinsertcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListController</display-name>
    <servlet-name>StudentListController</servlet-name>
    <servlet-class>com.controller.StudentListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListController</servlet-name>
    <url-pattern>/studentlistcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteController</display-name>
    <servlet-name>StudentDeleteController</servlet-name>
    <servlet-class>com.controller.StudentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteController</servlet-name>
    <url-pattern>/studentdeletecontroller</url-pattern>
  </servlet-mapping>
</web-app>